/* Self-hosted Fira Code font for better performance */
@font-face {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/FiraCode-Regular.woff2") format("woff2");
}
