
#html-viewer blockquote,
#html-viewer figure {
    margin: 1em 40px;
}

#html-viewer hr {
    border: 1px inset;
    box-sizing: border-box;
    margin: 0.5em auto;
}

#html-viewer h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0;
}

#html-viewer h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
}

#html-viewer h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0;
}

#html-viewer h4 {
    font-size: 1.00em;
    font-weight: bold;
    margin: 1.33em 0;
}

#html-viewer h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.67em 0;
}

#html-viewer h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin: 2.33em 0;
}

#html-viewer table {
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #808080;
}

#html-viewer thead,
#html-viewer tbody,
#html-viewer tfoot,
#html-viewer tr {
    border-color: inherit;
    vertical-align: middle;
}

#html-viewer td, #html-viewer th {
    padding: 1px;
    vertical-align: inherit;
}

#html-viewer th {
    font-weight: bold
}

#html-viewer caption {
    text-align: center;
}

#html-viewer ul, #html-viewer menu {
    list-style-type: disc;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

#html-viewer ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

#html-viewer ul ul, #html-viewer ol ul {

    list-style-type: circle;
}

#html-viewer ul ul ul, #html-viewer ul ol ul {

    list-style-type: square;
}

#html-viewer dd {
    margin: 0 0 0 40px;
}

#html-viewer dl {
    margin: 1em 0;
}


#html-viewer ins {
    background-color: transparent;
    font-weight: inherit;
    text-decoration: underline;
}

#html-viewer b, #html-viewer strong {
    font-weight: bold;
}

#html-viewer i, #html-viewer cite, #html-viewer em, #html-viewer var, #html-viewer address, #html-viewer dfn {
    font-style: italic;
    font-weight: inherit;
}

#html-viewer abbr[title], #html-viewer dfn[title] {
    border-bottom: 0;
    cursor: default;
    font-weight: inherit;
}

#html-viewer tt, #html-viewer code, #html-viewer kbd, #html-viewer samp {
    font-family: monospace;
    font-weight: inherit;
}

#html-viewer pre {
    font-family: monospace;
    margin: 1em 0;
    white-space: pre;
}
