name: Bundle Size
on:
  pull_request:
    branches: [main]

permissions:
  pull-requests: write

jobs:
  bundle-size:
    name: Bundle Size
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project sources
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Extract client bundle size
        id: client_bundle_size
        run: |
          BUNDLE_SIZE=$(du -sk build/client/assets | awk '{print $1}')
          echo "size=$BUNDLE_SIZE" >> $GITHUB_OUTPUT

      - name: Extract worker bundle size
        id: worker_bundle_size
        run: |
          BUNDLE_SIZE=$(du -sk build/server | awk '{print $1}')
          echo "size=$BUNDLE_SIZE" >> $GITHUB_OUTPUT

      - name: Comment bundle size
        uses: marocchino/sticky-pull-request-comment@v2
        with:
          header: bundle-size
          message: |
            ## Bundle Size Report
            | Bundle | Size |
            |--------|------|
            | Client | ${{ steps.client_bundle_size.outputs.size }} KB |
            | Worker | ${{ steps.worker_bundle_size.outputs.size }} KB |
